* {
    margin: 0;
    padding: 0;
}

.Area1 {
    height: 200%;
    padding-top: 11%;
    padding-bottom: 10%;
    /* size: 100%; */
    /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(16, 16, 65) 35%, rgb(193, 213, 218) 100%); */
    background: linear-gradient(180deg, #14c4c7 0%, #06245c 55%, #122946 100%);
    text-align: center;
}

h1 {
    margin-top: 3%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 350%;    
    display: inline-block;
    font-weight: lighter;
    /* margin-left: 590px; */
    text-align: center;
    
}

p {
    margin-top: 40px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* margin-left: 20%; */
    display: block;
    /* text-align: center; */
}

* {
    margin: 0;
    padding: 0;
}

.box div {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
    background: rgba(255, 255, 255, .5);
    border-radius: 15px;
}

.box div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.box div:nth-child(2) {
    top: 26%;
    left: 89%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(3) {
    top: 80%;
    left: 90%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(4) {
    top: 65%;
    left: 75%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(7) {
    top: 70%;
    left: 33%;
    animation: animate 8s linear infinite;
}

.box div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(9) {
    top: 23%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(10) {
    top: 35%;
    left: 7%;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(50deg);
    }
    100% {
        transform: scale(1.6) translateY(-250px) rotate(360deg);
    }
}

h5 {
    color: black;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
}

.card {
    max-width: 400px;
    min-height: 350px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin: 20px auto 0 auto;
    padding: 25px;
    color: #414141;
    margin: 1%;
    text-align: center;
}

.card p {
    align-content: center;
    font-weight: lighter;
    color: black;
}


.spacing {
    margin-top: 4%;
    margin-left: 15%;
    margin-bottom: 5%;
    padding: 3%;
    align-content: center;
    display: inline-flex;
    /* margin: 0% 18% 0% 18%; */
    position: relative;
    height: 300%;
}
